<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        Notes App
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

    <div class="app-wrapper">

        <div class="container">

            <div class="header">

                <div>

                    <h1>
                        Notes App
                    </h1>

                    <p>
                        Organize your thoughts beautifully
                    </p>

                </div>

            </div>

            <div class="note-box">

                <textarea
                    id="noteInput"
                    placeholder="Write your note here..."
                ></textarea>

                <button onclick="addNote()">
                    Add Note
                </button>

            </div>

            <div class="notes-container">

                {% for note in notes %}

                <div class="note-card">

                    <div class="note-content">

                        <p>
                            {{ note.content }}
                        </p>

                    </div>

                    <button onclick="deleteNote('{{ note.id }}')">
                        Delete
                    </button>

                </div>

                {% endfor %}

            </div>

        </div>

    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>